header{
    background-size: cover;
    background-position:  center center; 
    color: #fff;
    height: 448px;
    object-fit: contain;
}
header .banner_content{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}
header .banner_content .title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom:0.3rem ;
}
header .desc{
    width: 45rem;
    line-height: 1.3;
    font-size: 0.8rem; 
    max-width: 360px;
    height: 80px;
}
header button{
    cursor: pointer;
    color: #fff;
    border:none;
    outline: none;
    font-weight: 700;
    border-radius:5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom: 0.5rem;
    transition: all 0.7s ease;
}
header button:hover{
    color: #000;
    background-color: #e6e6e6;
}
header .empty{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61),#fff);
}